<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href=/javascripts/user_44e4c.js />
    <script type="text/javascript" src = /javascripts/user_44e4c.js></script>
<script type="text/javascript" src = javascripts/commons.bundle.js></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>EJS Welcome to <%= title %></p>
  </body>
</html>
